<p>
  <b><%= t :authors %>:</b>
  <%= h(@publication.authors.map {|author| author.display_name}.join(', ')) %>
</p>
<p>
  <b><%= t :title %>:</b>
  <%= h(@publication.title) %>
</p>
<p>
  <b><%= t :status %>:</b>
  <%= t @publication.status_name %>
</p>
<% if @publication.conference %>
  <p>
    <b><%= t :conference %>:</b>
    <%= h(@publication.conference.display_name) %>
  </p>
<% end %>
<% if @publication.journal %>
  <p>
    <b><%= t :journal %>:</b>
    <%= h(@publication.journal.display_name) %>
  </p>
<% end %>
<% if @publication.book %>
  <p>
    <b><%= t :book %>:</b>
    <%= @publication.book.display_name %>
  </p>
<% end %>
<p>
  <b><%= t :volume %>:</b>
  <%= @publication.volume %>
</p>
<p>
  <b><%= t :xnumber %>:</b>
  <%= @publication.number %>
</p>
<p>
  <b><%= t :year %>:</b>
  <%= @publication.year %>
</p>
<p>
  <b><%= t :pages %>:</b>
  <%= @publication.pages %>
</p>
<p>
  <b><%= t :doi %>:</b>
  <%= @publication.doi %>
</p>
<p>
  <b><%= t :abstract %>:</b>
  <%= @publication.abstract %>
</p>
<p>
  <b><%= t :pdf_link %>:</b>
  <% unless @publication.pdf.blank? %>
    <%= link_to t(:download), {:action => 'download_pdf', :id => @publication.id} %>
  <% end %>
</p>
