<% current_scope = default_scope(@publication) %>
<div>
  <h3><%= t(:status) %>: <%= t(@publication.status_name) %></h3>
  <% @publication.status_changes(@user).each do |change| %>
    <%= button_to t(change[0]), :action => 'change_status', :id => change[1].to_s %>
  <% end %>
</div>
<div>
  <% form_tag({:action => "upload_pdf", :id => @publication.id.to_s}, {:multipart => true}) do %>
    <%= t :enter_path %>
    <%= file_field_tag "publication_pdf", :accept => "application/pdf" %>
    <%= submit_tag t(:upload_pdf), :class => "submit" %>
  <% end %>
</div>
<%= form_for(@publication) do |f| %>
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @publication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t(:author, :count => 2) %><br />
    <%= render :partial => "two_select", :object => {:items => Author.all, :selected => @publication.authors, :id=>"select_author"} %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, check_writable(:title) %>
  </div>
  <div class="field">
    <%= label_tag 'scope', t(:scope) %><br />
    <%= select_tag('scope', options_for_select(scope_select_options, current_scope), {:onchange => 'set_scope(this);'}) %>
  </div>
  <div class="field <%= scope_visible(current_scope, 0) %>" id="scope_conf">
    <%= render :partial => "obj_select", :object => {:items => Conference.all, :id => "select_conf", :label => :conference} %>
  </div>
  <div class="field <%= scope_visible(current_scope, 1) %>" id="scope_jour">
    <%= render :partial => "obj_select", :object => {:items => Journal.all, :id => "select_jour", :label => :journal} %>
  </div>
  <div class="field <%= scope_visible(current_scope, 2) %>" id="scope_book">
    <%= render :partial => "obj_select", :object => {:items => Book.all, :id => "select_book", :label => :book} %>
  </div>
  <div class="field">
    <%= f.label :abstract %><br />
    <%= f.text_area :abstract %>
  </div>
  <div class="field">
    <%= f.label :pdf %><br />
    <%= f.text_field :pdf %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :pages %><br />
    <%= f.text_field :pages %>
  </div>
  <div class="field">
    <%= f.label :doi %><br />
    <%= f.text_field :doi %>
  </div>
  <div class="actions">
    <%= f.submit :onclick => "mu_select_all('select_author'); return true;" %>
  </div>
<% end %>
