<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @author.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @author.first_name %>
</p>

<p>
  <b>Affiliation:</b>
  <%= @author.affiliation %>
</p>


<%= link_to t(:edit), edit_author_path(@author) %> |
<%= link_to t(:back), authors_path %>
