<% if @call.conference %>
  <p>
  <b><%= t :conference %>:</b>
  <%= @call.conference.display_name %>
  </p>
<% end %>
<% if @call.journal %>
  <p>
  <b><%= t :journal %>:</b>
  <%= @call.journal.display_name %>
  </p>
<% end %>
<% if @call.book %>
  <p>
  <b><%= t :book %>:</b>
  <%= @call.book.display_name %>
  </p>
<% end %>
<p>
  <b><%= t :deadline %>:</b>
  <%= @call.deadline %>
  <%= render :partial => 'shared/reminder', :object => @call.default_reminder(:deadline, @user) %>
</p>
<p>
  <b><%= t :url %>:</b>
  <%= link_to @call.url, @call.url %>
</p>
<p>
  <b><%= t :guest_editor %>:</b>
  <%= @call.guest_editor %>
</p>
<%= link_to t(:edit), edit_call_path(@call) %> |
<%= link_to t(:back), calls_path %>
