<%= form_for(@conference) do |f| %>
  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= t :error_while_saving %></h2>
      <ul>
      <% @conference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= label_and_help(f, :url) %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :begin_date %><br />
    <%= f.date_select :begin_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= label_and_help(f, :deadline) %>
    <%= f.date_select :deadline %>
  </div>
  <div class="field">
    <%= label_and_help(f, :acceptance) %>
    <%= f.date_select :acceptance %>
  </div>
  <div class="field">
    <%= label_and_help(f, :due) %>
    <%= f.date_select :due %>
  </div>
  <div class="field">
    <%= label_and_help(f, :submission_type) %>
    <%= f.text_field :submission_type %>
  </div>
  <div class="field">
    <%= f.label :proceedings %><br />
    <%= f.text_field :proceedings %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
