<h1><%= t :listing_conferences %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Begin date</th>
    <th>End date</th>
    <th>Deadline</th>
    <th>Acceptance</th>
    <th>Due</th>
    <th>Submission type</th>
    <th>Url</th>
    <th>Location</th>
    <th>Proceedings</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conferences.each do |conference| %>
  <tr>
    <td><%= conference.name %></td>
    <td><%= conference.begin_date %></td>
    <td><%= conference.end_date %></td>
    <td><%= conference.deadline %></td>
    <td><%= conference.acceptance %></td>
    <td><%= conference.due %></td>
    <td><%= conference.submission_type %></td>
    <td><%= conference.url %></td>
    <td><%= conference.location %></td>
    <td><%= conference.proceedings %></td>
    <td><%= link_to t(:show), conference %></td>
    <td><%= link_to t(:edit), edit_conference_path(conference) %></td>
    <td><%= link_to 'Destroy', conference, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conference', new_conference_path %>
