<p>
  <b><%= t :name %>:</b>
  <%= @conference.name %>
</p>
<p>
  <b><%= t :location %>:</b>
  <%= @conference.location %>
</p>
<p>
  <b><%= t :url %>:</b>
  <%= link_to @conference.url, @conference.url %>
</p>
<p>
  <b><%= t :begin_date %>:</b>
  <%= @conference.begin_date %>
</p>
<p>
  <b><%= t :end_date %>:</b>
  <%= @conference.end_date %>
</p>
<p>
  <b><%= t :deadline %>:</b>
  <%= @conference.deadline %>
</p>
<p>
  <b><%= t :acceptance %>:</b>
  <%= @conference.acceptance %>
</p>
<p>
  <b><%= t :due %>:</b>
  <%= @conference.due %>
</p>
<p>
  <b><%= t :submission_type %>:</b>
  <%= @conference.submission_type %>
</p>
<p>
  <b><%= t :title_proceed %>:</b>
  <%= @conference.proceedings %>
</p>
<%= link_to t(:edit), edit_conference_path(@conference) %> |
<%= link_to t(:back), conferences_path %>
