<fieldset class='filter'>
  <legend><%= t :filter %></legend>
  <div class='visible' id='show_filter_help'>
    <%= link_to_function(t(:show_filter_help), "mu_show_filter_help()") %>
  </div>
  <div class='hidden' id='hide_filter_help'>
    <%= link_to_function(t(:hide_filter_help), "mu_hide_filter_help()") %>
  </div>
  <div class='hidden' id='filter_help'>
    <ul>
      <li><%= t(:filter_help_a) %> </li>
      <li><%= t(:filter_help_b) %> </li>
      <li><%= t(:filter_help_c) %> </li>
      <li><%= t(:filter_help_d) %> </li>
    </ul>
    <%= link_to t(:more_help), "http://en.wikipedia.org/wiki/Regular_expression", {:target => '_blank'} %>
  </div>
  <%= form_tag({:action => 'index'}, {:method => 'get'}) do %>
    <%= hidden_field_tag :sort, @list.sort.to_s %>
    <%= hidden_field_tag :direction, @list.direction.to_s %>
    <%= hidden_field_tag :locale, I18n.locale %>
    <table>
      <tr>
        <td><%= t :filter_attribute %></td>
        <td><%= t :filter_regexp %></td>
        <td><%= t :filter_ignorecase %></td>
      </tr>
      <tr>
        <td><%= select_tag('attr_select', options_for_select(@list.filter_attributes, @filter_attribute)) %></td>
        <td<%= @list.err == :regexp ? " class='field_with_errors' " : "" %>><%= text_field_tag('regexp', @filter_regexp) %></td>
        <td><%= check_box_tag('ignorecase', '1', @filter_ignorecase ) %></td>
      </tr>
    </table>
    <%= submit_tag t(:do_filter) %>
  <% end %>
</fieldset>
<table id='itemlist'>
  <tr>
    <% @list.headers.each do |header_item| %>
      <th><%= sortable_header header_item %></th> 
    <% end %>
    <th class='tlink'></th>
    <th class='tlink'></th>
    <th class='tlink'></th>
  </tr>
  <% @list.items.each do |item| %>
    <tr>
      <% @list.headers.each do |header_item| %>
        <td><%= header_item.show(item) %></td>
      <% end %>
    <td class='tlink'><%= link_to t(:show), item %></td>
    <td class='tlink'><%= @user.may_edit?(item) ? link_to(t(:edit), :id => item, :action => :edit) : ' ' %></td>
    <td class='tlink'><%= @user.may_delete?(item) ? link_to(t(:destroy), item, :confirm => (t :are_you_sure), :method => :delete) : ' ' %></td>
  </tr>
<% end %>
</table>
