<table>
  <tr>
    <% @list.headers.each do |header_item| %>
      <th><%= sortable_header header_item %></th> 
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @list.items.each do |item| %>
    <tr>
      <% @list.headers.each do |header_item| %>
        <td><%= header_item.show(item) %></td>
      <% end %>
    <td><%= link_to t(:show), item %></td>
    <td><%= @user.may_edit?(item) ? link_to(t(:edit), :id => item, :action => :edit) : ' ' %></td>
    <td><%= @user.may_delete?(item) ? link_to(t(:destroy), item, :confirm => 'Are you sure?', :method => :delete) : ' '%></td>
  </tr>
<% end %>
</table>
