<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

<p>
  <b>Editor:</b>
  <%= @book.editor %>
</p>

<p>
  <b>Year:</b>
  <%= @book.year %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>


<%= link_to t(:edit), edit_book_path(@book) %> |
<%= link_to t(:back), books_path %>
