<p>
  <b><%= t :title %>:</b>
  <%= @book.title %>
</p>
<p>
  <b><%= t :editor %>:</b>
  <%= @book.editor %>
</p>
<p>
  <b><%= t :publisher %>:</b>
  <%= @book.publisher %>
</p>
<p>
  <b><%= t :year %>:</b>
  <%= @book.year %>
</p>
<p>
  <b><%= t :isbn %>:</b>
  <%= @book.isbn %>
</p>
<%= link_to t(:edit), edit_book_path(@book) %> |
<%= link_to t(:back), books_path %>
