<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @journal.name %>
</p>

<p>
  <b>Publisher:</b>
  <%= @journal.publisher %>
</p>

<p>
  <b>Issn:</b>
  <%= @journal.issn %>
</p>

<p>
  <b>Url:</b>
  <%= @journal.url %>
</p>


<%= link_to t(:edit), edit_journal_path(@journal) %> |
<%= link_to t(:back), journals_path %>
